{% extends "layout/welayout.html" %}
{% load static %}

{% block title %} Django {% endblock %}


{% block content %} 
 <!-- ======= Hero Section ======= -->
 <section id="hero7" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Django</h1>
      
      <!-- <h3><b> </b>From web development to machine learning to data science,<br>Python is the language for you.</b></h3>  -->
    <!--   <a href="courses.html" class="btn-get-started">Get Started</a>-->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/course/django2.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style=color:darkblue>What is Django?
              </h3>
            <p class="fst-italic">
              Django is a web development framework that assists in building and maintaining quality web applications. 
              Django helps eliminate repetitive tasks making the development process an easy and time saving experience.
               This tutorial gives a complete understanding of Django.
            </p>
            <p class="fst-italic">
             <b> Advantages of Django:</b>
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Object-Relational Mapping (ORM) Support</li>
              <li><i class="bi bi-check-circle"></i> Administration GUI</li>
              <li><i class="bi bi-check-circle"></i> 	Framework Support.</li>
              <li><i class="bi bi-check-circle"></i>	Development Environment.</li>
              <li><i class="bi bi-check-circle"></i>  Database connection.</li>

            </ul>
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right" data-aos-delay="100">

            <img src="{% static 'img/course/django1.png' %}" class="img-fluid" alt="">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              
            <h3 style=color:darkblue>Django course Overview
            </h3>
          <p class="fst-italic">
            This course is designed for developers who want to learn how to develop quality web 
            applications using the smart techniques and tools offered by Django. 
            Django makes it easier to build better web apps quickly and with 
            less code.
          </p>
          <p class="fst-italic">
           <b>Java Certification Key Features:</b>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> 8 hours of online self-paced learning.</li>
           
            <li><i class="bi bi-check-circle"></i> course completion certificate.</li>
            <li><i class="bi bi-check-circle"></i> course completion certificate.</li>
            <li><i class="bi bi-check-circle"></i> real-life course-end project.</li>
          </ul>
            
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
     <!--<section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section>-->
    <!-- End Counts Section -->
  

    <!-- ======= python job roles ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Job Roles For Django</h3>
              <p>
                It is one of the top-paying jobs in software development and web application development, 
                The one with the Django certification can expect to earn more.
              </p>
             <p class="fst-italic">
                <b>Java Certification Key Features:</b>
               </p>
               <ul>
                 <li><i class="bi bi-check-circle"></i>Python developer.</li>
                 <li><i class="bi bi-check-circle"></i>web developer.</li>
                 <li><i class="bi bi-check-circle"></i> Data Analyst.r.</li>
                 <li><i class="bi bi-check-circle"></i> Database adminstrator.</li>
                
               </ul>
            <!--   <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>-->
            </div>
          </div>
          
        <!--   <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
      
              <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="content">
                    <h3>Job Roles For Python Developers</h3>
                    <p>
                      Scope of python trending in the fields of data science, analyst.
                       Job roles advanced in python with high promising pay in large companies.
                    </p>
      
                    <p class="fst-italic">
                      <b>Python Certification Key Features:</b>
                     </p>
                     <ul>
                       <li><i class="bi bi-check-circle"></i>  Research Analyst.</li>
                       <li><i class="bi bi-check-circle"></i>DevOps Engineer.</li>
                       <li><i class="bi bi-check-circle"></i>  Python developer.</li>
                       <li><i class="bi bi-check-circle"></i> Data Analyst.</li>
                       <li><i class="bi bi-check-circle"></i>  Software developer.</li>
                     </ul>
                     <div class="text-center">
                      <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                  </div>
                </div>-->
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            
            <div class="icon-boxes d-flex flex-column justify-content-center">
              
              
                 <h1  style="font-size:30px; color:#5fcf80"> <b> Training options:</b></h1> 
                
              <!--    <section id="features" class="features">
              <div class="row" style="color:darkblue;">
                <div class="col-xl-12 d-flex align-items-stretch" >
                  <div class="icon-box mt-4 mt-xl-0" >
                    <i   class="bx bx-receipt"></i>
                    <h4>SELF-PACED LEARNING</h4>
                    <p>Lifetime access to high-quality self-paced e-learning content curated by industry experts</p>
                  </div>
                </div>
              </section>-->

              <section id="features" class="features">
                
                <div class="container" data-aos="fade-up">
          
                  <div class="row" style="color:darkblue;">
                    <div class="col-xl-12 d-flex align-items-stretch" >
                      <div class="icon-box mt-4 mt-xl-0">
                        <i   class="bx bx-receipt"></i><br>
                        <h4>SELF-PACED LEARNING</h4><br>
                        <p style="color:black;text-align:left;">
                          <ul>
                           <li style="color: #5fcf80;text-align:left;"><b> Lifetime access to high-quality self-paced e-learning content curated
                            by industry experts.</b></li>
                           <li style="color: #5fcf80;text-align:left;"><b>24x7 learner assistance and support.</b></li></p>
                          </ul>
                        
                      </div>
                    </div>
                    </div>
                    </div>
                    </section>

                    <section id="features" class="features">
                      <div class="container" data-aos="fade-up">
                
                        <div class="row" style="color:darkblue;">
                          <div class="col-xl-12 d-flex align-items-stretch" >
                            <div class="icon-box mt-4 mt-xl-0">
                              <i   class="bx bx-cube-alt"></i><br>
                              <h4>ONLINE BOOTCAMP</h4><br>
                              <p style="color:black;text-align:justify;">
                                <ul>

                                <li style="color: #5fcf80;text-align:left;"><b>Lifetime access to high-quality self-paced e-learning content
                                 and live class recordings.</b></li>
                                <li style="color:#5fcf80;text-align:left;"><b> 90 days of flexible access to online classes</b></li>
                               <li style="color: #5fcf80;text-align:left;"><b>24x7 learner assistance and support</b></li> </p>
                                </ul>
                            </div>
                          </div>
                         </div>
                        </div>
                      </div>
                            
                    </section>

              <!--   <div class="col-xl-12 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>ONLINE BOOTCAMP</h4>
                    <p>Lifetime access to high-quality self-paced e-learning content and live class recordings</p>
                  </div>
                </div>-->

              <!--  <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Labore consequatur</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>-->
                </div>
              </div>
            </div>
             <!-- End .content-->
          </div> <!--   End .content-->
          </div>
        </div>

      </div>
  
    </section><!-- End Why Us Section -->

<!-- start carriculam Section -->

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2  style=color:darkblue><b>Django Course Curriculum</b></h2>
        <br>
          <div class="main-timeline">
            
              <div class="timeline">
                  <a  class="timeline-content">
                      <div class="timeline-icon"><img src="{% static 'img/curriculam/test.png' %}" class="img-fluid" alt=""class="fa fa-globe"></div>
                      <h3 class="title">Eligibility</h3>
                      <p class="description">
                        <p class="fst-italic" style=color:black>
                           Django course is ideal for software developers, web designers, programming enthusiasts,
                          engineering graduates, and students or professionals who wish to become python developers.
                      </p>
                  </a>
              </div>
              <div class="timeline">
                  <a  class="timeline-content">
                      <div class="timeline-icon"><img src="{% static 'img/curriculam/asterisk.png' %}" class="img-fluid" alt=""></i></div>
                      <h3 class="title">Pre-requisites</h3>
                      <p class="description">
                        <p class="fst-italic" style=color:black>
                          Prior knowledge of basics of procedural and object-oriented programming: 
                          control structures, data structures and variables, classes, objects, etc. and Python Programming language.
                      </p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>

<!-- start course content Section -->
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2  style=color:darkblue><b> Course Content</b></h2><br> 
        <p class="fst-italic"><b>About the Lessons</b> </p>
<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3> Lesson 01 <br>Introduction to Django
      
     
     </h3>
		<p>
      Introduction to Django basics
     
		</p>
	</li>
	<li>
		<h2>02</h2>
		<h3>Lesson 02 <br>Django- Environment </h3>
		<p>
      
      Installing Python,
      Installing Django,
      Database Setup,
      Web Server.
      
     
		</p>
		
	</li>
	<li>
		<h2>03</h2>
		<h3> Lesson 03 <br> Django Creating Project </h3>
		<p>
      Create a Project  
      The Project Structure 
      Setting Up Your Project 


		</p>
	
	</li>

  <li>
		<h2>04</h2>
		<h3>Lesson 04 <br> Django Concpets</h3>
		<p>
			
      Django - Apps Life Cycle,
      Django - Admin Interface,
      Django - Creating Views,
      Django - URL Mapping
 

		</p>
	

	<li>
		<h2>05</h2>
		<h3>Lesson 05 <br> Django Template Sysytem</h3>
		<p>
			
      The Render Function 
      Django Template Language (DTL) 
      Filters
      Tags

 

		</p>
	
	</li>

  <li>
		<h2>06</h2>
		<h3> Lesson 06 <br>Django Models</h3>
		<p>
     
      Creating a Model 
      Linking Models 
      
     
		</p>
		
  </li>


  
   
  
  <li>
		<h2>07</h2>
		<h3> Lesson 07 <br> Django - Page Redirection</h3>
		<p>
     
     
      In Django, redirection is accomplished using the 'redirect' method.
     
		</p>
		
  </li>

  <li>
		<h2>08</h2>
		<h3> Lesson 08 <br> Django - Sending E-mails</h3>
		<p>
     
      
      Sending a Simple E-mail, 
      Sending Multiple Mails with send_mass_mail,
      Sending HTML E-mail,
      Sending E-mail with Attachment  

		</p>
		
  </li>


  
  <li>
		<h2>09</h2>
		<h3>  Lesson 09 <br> Django - Generic Views</h3>
		<p>
     
     generic Classes, Static Pages
      
      
      
     
		</p>
		
  </li>
  

  <li>
		<h2>10</h2>
		<h3>Lesson 10 <br> Django - Form Processing</h3>
		<p>
     
      
      Using Form in a View
      
     
		</p>
		
  </li>


  <li>
		<h2>11</h2>
		<h3>  Lesson 11 <br> Django - File Uploading</h3>
		<p>
     
     
      Uploading an Image
     
		</p>
		
  </li>

  <li>
		<h2>12</h2>
		<h3>  Lesson 12 <br> Django - cookies Handling</h3>
		<p>
     
     
      Apache setup,Session,caching,
      Django comments,Django RSS,Django AJAX
     
		</p>
		
  </li>
  
 
</ul>
<!--download_start-->
<a href="{%static 'pdf/django_syallbus.pdf' %}"><button class="btn" style="text-align: center;"><i class="fa fa-download"></i> Download full syallbus</button></a>

<!--download_end-->
</div>


</div>
</div>
<!-- end course content Section -->


<br><br>



<!-- end carriculam Section -->

{% endblock%}