{% extends "layout/welayout.html" %}
{% load static %}

{% block title %} Fundamental of web application {% endblock %}


{% block content %} 


<!-- ======= Hero Section ======= -->
<section id="hero7" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Web Development</h1>
      <!-- <h2 ><b> </b>web development courses will build your skills in creating web applications.</b></h2> -->
    <!--   <a href="courses.html" class="btn-get-started">Get Started</a>-->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/course/web-language.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style=color:darkblue>Web Development
              </h3>
            <p class="fst-italic">
                Web Development is the practice of developing websites and web apps that live on the internet.
                 Whether you’re interested in front-end, back-end, or going full-stack, the content in our Web Development domain will help you get there.
            </p>
            <p class="fst-italic">
             <b> Why we love it:</b>
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Great career trajectory.</li>
              <li><i class="bi bi-check-circle"></i> Growing field.</li>
              <li><i class="bi bi-check-circle"></i> JavaScript frameworks.</li>
              <li><i class="bi bi-check-circle"></i> Great community.</li>
        
            </ul>
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right" data-aos-delay="100">

            <img src="{% static 'img/course/web_development_internship.png' %}" class="img-fluid" alt="">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              
            <h3 style=color:darkblue>What is a web development really?
            </h3>
          <p class="fst-italic">
            In web development we build web applications. A web application is an application that is rendered on the browser,
             and accessed by the user through the browser. Simply put - when you order tickets to movie in your home town theatre, 
             when you check your bank account balance, when you write a post on Facebook or update your resume on LinkedIn,
              all of these and more are examples to web applications. You open a web browser, go to a specific URL,
               and get a full working application. 
               Today you can even find sophisticated applications on the web, like sound and video editing applications, 
               drawing, recording, gaming, word processing, you name it.
             They're all on the web, and all are accessed via the browser.
          </p>
          <p class="fst-italic">
           <b>What you'll learn:</b>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Write valid and neat HTML code.</li>
            <li><i class="bi bi-check-circle"></i> Use and understand CSS styling.</li>
            <li><i class="bi bi-check-circle"></i> Write functional JS code</li>
            <li><i class="bi bi-check-circle"></i>  Build full, working web application..</li>
            
          </ul>
            
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
      
  

    <!-- ======= python job roles ======= -->
   <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Job Roles For Web Application Developers</h3>
                <p>
                  Scope of web application trending in the fields of data science, analyst.
                   Job roles advanced in web Application with high promising pay in large companies.
                </p>
               <p class="fst-italic">
                  <b>Web Application Key Features:</b>
                 </p>
                 <ul>
                   <li><i class="bi bi-check-circle"></i>software engineers.</li>
                   <li><i class="bi bi-check-circle"></i>UX specialists.</li>
                   <li><i class="bi bi-check-circle"></i>  Graphic designers.</li>
                   <li><i class="bi bi-check-circle"></i> Web designers.</li>
                
                 </ul>
                 
              </div>
            </div>
<!--           
          <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
      
              <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="content">
                    <h3>Job Roles For Python Developers</h3>
                    <p>
                      Scope of python trending in the fields of data science, analyst.
                       Job roles advanced in python with high promising pay in large companies.
                    </p>
      
                    <p class="fst-italic">
                      <b>Python Certification Key Features:</b>
                     </p>
                     <ul>
                       <li><i class="bi bi-check-circle"></i>  Research Analyst.</li>
                       <li><i class="bi bi-check-circle"></i>DevOps Engineer.</li>
                       <li><i class="bi bi-check-circle"></i>  Python developer.</li>
                       <li><i class="bi bi-check-circle"></i> Data Analyst.</li>
                       <li><i class="bi bi-check-circle"></i>  Software developer.</li>
                     </ul>
                     <div class="text-center">
                      <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                  </div>
                </div> -->
         <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            
            <div class="icon-boxes d-flex flex-column justify-content-center">
              
              
                 <h1  style="font-size:30px; color:#5fcf80"> <b> Training options:</b></h1> 
                
                 <!-- <section id="features" class="features">
              <div class="row" style="color:darkblue;">
                <div class="col-xl-12 d-flex align-items-stretch" >
                  <div class="icon-box mt-4 mt-xl-0" >
                    <i   class="bx bx-receipt"></i>
                    <h4>SELF-PACED LEARNING</h4>
                    <p>Lifetime access to high-quality self-paced e-learning content curated by industry experts</p>
                  </div>
                </div>
              </section> -->

            <section id="features" class="features">
                
                <div class="container" data-aos="fade-up">
          
                  <div class="row" style="color:darkblue;">
                    <div class="col-xl-12 d-flex align-items-stretch" >
                      <div class="icon-box mt-4 mt-xl-0">
                        <i   class="bx bx-receipt"></i><br>
                        <h4>SELF-PACED LEARNING</h4><br>
                        <p style="color:black;text-align:left;">
                          <ul>
                           <li style="color: #5fcf80;text-align:left;"><b> Lifetime access to high-quality self-paced e-learning content curated
                            by industry experts.</b></li>
                           <li style="color: #5fcf80;text-align:left;"><b>24x7 learner assistance and support.</b></li></p>
                          </ul>
                        
                      </div>
                    </div>
                    </div>
                    </div>
                    </section>

                    <section id="features" class="features">
                      <div class="container" data-aos="fade-up">
                
                        <div class="row" style="color:darkblue;">
                          <div class="col-xl-12 d-flex align-items-stretch" >
                            <div class="icon-box mt-4 mt-xl-0">
                              <i   class="bx bx-cube-alt"></i><br>
                              <h4>ONLINE BOOTCAMP</h4><br>
                              <p style="color:black;text-align:justify;">
                                <ul>

                                <li style="color: #5fcf80;text-align:left;"><b>Lifetime access to high-quality self-paced e-learning content
                                 and live class recordings.</b></li>
                                <li style="color:#5fcf80;text-align:left;"><b> 90 days of flexible access to online classes</b></li>
                               <li style="color: #5fcf80;text-align:left;"><b>24x7 learner assistance and support</b></li> </p>
                                </ul>
                            </div>
                          </div>
                         </div>
                        </div>
                      </div>
                            
                    </section>

              
                </div>
              </div>
            </div>
             <!-- End .content-->
          </div> <!--   End .content-->
          </div>
        </div>

      </div>
  
    </section><!-- End Why Us Section -->

<!-- start carriculam Section -->

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2  style=color:darkblue><b>Web Application Curriculum</b></h2>
        <br>
          <div class="main-timeline">
            
              <div class="timeline">
                  <a  class="timeline-content">
                      <div class="timeline-icon"><img src="{% static 'img/curriculam/test.png' %}" class="img-fluid" alt=""class="fa fa-globe"></div>
                      <h3 class="title">Eligibility</h3>
                      <p class="description">
                        <p class="fst-italic" style=color:black>
                            Anyone interested in learning Web application for software development job roles will benefit from this Web application developer certification. 
                            
                       </p>
                      </p>
                  </a>
              </div>
              <div class="timeline">
                  <a  class="timeline-content">
                      <div class="timeline-icon"><img src="{% static 'img/curriculam/asterisk.png' %}" class="img-fluid" alt=""></i></div>
                      <h3 class="title">Pre-requisites</h3>
                      <p class="description">
                        <p class="fst-italic" style=color:black>
                            A working computer and basic knowledge in opening and saving files,and For the JS part - a basic knowledge in programming.
                      </p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>

<!-- start course content Section -->
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2  style=color:darkblue><b> Course Content</b></h2><br> 
        <p class="fst-italic"><b>About the Lessons</b> </p>
<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Component 1: Structure with HTML</h3>
		<p>
      
      The component deals with standardised HTML and the importance of the elements for the 
      structure of web pages. 
     
		</p>
	</li>
	<li>
		<h2>02</h2>
		<h3>Component 2: Design with CSS</h3>
		<p>
      
      The component deals with standardised CSS to create design and layout for web pages.The 
      component also covers validation of CSS code to verify that syntax follows chosen standard.
     
		</p>
		
	</li>
	<li>
		<h2>03</h2>
		<h3>Component 3: Dynamic behaviour with JavaScript</h3>
		<p>
      
      The component deals with basic syntax and semantics in the language JavaScript that is used 
      to create a dynamic behaviour on web pages.
     
		</p>
	
	</li>
	<li>
		<h2>04</h2>
		<h3>Component 4: Availability and Responsiveness</h3>
		<p>
		
      The component deals with the importance of websites being available for all users irrespective 
      of disabilities and the guidelines that are to secure this.

		</p>
	
	</li>

    

 
 
  
  
 
</ul>
<!--download_start-->
<a href="{% static 'pdf/web_course.pdf' %}"><button class="btn" style="text-align: center;"><i class="fa fa-download"></i> Download full syallbus</button></a>

<!--download_end-->
</div>


</div>
</div>
<!-- end course content Section -->


<br><br>



<!-- end carriculam Section -->
{% endblock %}



