{% extends "layout/welayout.html" %}
{% load static %}

{% block title %} Java {% endblock %}


{% block content %} 

<!-- ======= Hero Section ======= -->
<section id="hero7" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Java</h1>
      
      <!-- <h3><b> </b>From web development to machine learning to data science,<br>Python is the language for you.</b></h3>  -->
    <!--   <a href="courses.html" class="btn-get-started">Get Started</a>-->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/course/java-DEVELOPMENT (1).jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style=color:darkblue>What is Java?
              </h3>
            <p class="fst-italic">
                Java is a popular programming language, created in 1995.

                It is owned by Oracle, and more than 3 billion devices run Java.
            </p>
            <p class="fst-italic">
             <b> It is used for:</b>
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Desktop applications</li>
              <li><i class="bi bi-check-circle"></i> Web applications</li>
              <li><i class="bi bi-check-circle"></i> Web servers and application servers.</li>
              <li><i class="bi bi-check-circle"></i> Games.</li>
              <li><i class="bi bi-check-circle"></i>  Database connection.</li>

            </ul>
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right" data-aos-delay="100">

            <img src="{% static 'img/course/java1.png' %}" class="img-fluid" alt="">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              
            <h3 style=color:darkblue>Java Course Overview
            </h3>
          <p class="fst-italic">
            This advanced Java Training is designed to guide you through 
            the concepts of Java from introductory techniques to advanced programming skills. 
            This Java course will also provide you with the knowledge of Core Java 8, operators, 
            arrays, loops, methods, and constructors while giving you hands-on experience in JDBC and JUnit framework.
          </p>
          <p class="fst-italic">
           <b>Java Certification Key Features:</b>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> 60 hours of Applied Learning.</li>
            <li><i class="bi bi-check-circle"></i>Includes Hibernate and Spring frameworks.</li>
            <li><i class="bi bi-check-circle"></i>  course completion certificate.</li>
            <li><i class="bi bi-check-circle"></i> 35 coding-related exercises on Core Java 8.</li>
            <li><i class="bi bi-check-circle"></i> Flexibility to choose classes.</li>
          </ul>
            
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section>
    <!-- ======= python job roles ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Job Roles For Java Developers</h3>
                <p>
                  It is one of the top-paying jobs in software development, 
                  The one with the Java certification can expect to earn an average of $102,000 per year.
                </p>
               <p class="fst-italic">
                  <b>Java Certification Key Features:</b>
                 </p>
                 <ul>
                   <li><i class="bi bi-check-circle"></i>Java Architect.</li>
                   <li><i class="bi bi-check-circle"></i>web developer.</li>
                   <li><i class="bi bi-check-circle"></i>  Java developer.</li>
                   <li><i class="bi bi-check-circle"></i> Database adminstrator.</li>
                   <li><i class="bi bi-check-circle"></i>  Software developer.</li>
                 </ul>
    {% endblock %}