{% extends "layout/welayout.html" %}
{% load static %}

{% block title %} web_application {% endblock %}
{% block content %} 

<!-- ======= Hero Section ======= -->
<section id="hero7" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Web application</h1>
      <h2 ><b></b>web application internship will build your skills in creating web applications.</b></h2>
    <!--   <a href="courses.html" class="btn-get-started">Get Started</a>-->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/course/python.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style=color:darkblue>What Is Web Application Development?
              </h3>
            <p class="fst-italic">
              web development is the process of creating websites and web applications that work in web browsers.
            </p>
            <p class="fst-italic">
             <b> it is used for:</b>
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> webmail.</li>
              <li><i class="bi bi-check-circle"></i> online calculators.</li>
              <li><i class="bi bi-check-circle"></i>  e-commerce shops.</li>
              <li><i class="bi bi-check-circle"></i> video and photo editing.</li>
              <li><i class="bi bi-check-circle"></i> email programs such as Gmail, Yahoo and AOL.</li>
            </ul>
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right" data-aos-delay="100">

            <img src="{% static 'img/course/python2.jpg' %}" class="img-fluid" alt="">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              
            <h3 style=color:darkblue>Web Application Course Overview
            </h3>
          <p class="fst-italic">
            This course will give you the basic background, terminology and
             fundamental concepts that you need to understand in order to build modern web applications.
             A web developer is familiar with each "layer" of the software technologies involved in a web application,
              including data modeling and database technologies, the web server environment and middleware components, 
              network protocols the user interface and basic visual design and user interaction concepts. In this course we will learn by doing. 
          </p>
          <p class="fst-italic">
           <b>Web Application Certification Key Features:</b>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Web Aplliaction Certification Key Features.</li>
            <li><i class="bi bi-check-circle"></i>8 hours of online self-paced learning.</li>
            <li><i class="bi bi-check-circle"></i>  course completion certificate.</li>
            <li><i class="bi bi-check-circle"></i> 20+ assisted practices on all modules.</li>
            <li><i class="bi bi-check-circle"></i> real-life course-end project.</li>
          </ul>
            
           <!--  <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
     <!--<section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section>-->
    <!-- End Counts Section -->
  

    <!-- ======= python job roles ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Job Roles For Web Application Developers</h3>
              <p>
                Scope of web application trending in the fields of data science, analyst.
                 Job roles web Application with high promising pay in large companies.
              </p>
             <p class="fst-italic">
                <b>Web Application Certification Key Features:</b>
               </p>
               <ul>
                 <li><i class="bi bi-check-circle"></i>software engineers.</li>
                 <li><i class="bi bi-check-circle"></i>UX specialists.</li>
                 <li><i class="bi bi-check-circle"></i>  Graphic designers.</li>
                 <li><i class="bi bi-check-circle"></i> Web designers.</li>
              
               </ul>
            <!--   <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>-->
            </div>
          </div>
          
        <!--   <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
      
              <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="content">
                    <h3>Job Roles For Python Developers</h3>
                    <p>
                      Scope of python trending in the fields of data science, analyst.
                       Job roles advanced in python with high promising pay in large companies.
                    </p>
      
                    <p class="fst-italic">
                      <b>Python Certification Key Features:</b>
                     </p>
                     <ul>
                       <li><i class="bi bi-check-circle"></i>  Research Analyst.</li>
                       <li><i class="bi bi-check-circle"></i>DevOps Engineer.</li>
                       <li><i class="bi bi-check-circle"></i>  Python developer.</li>
                       <li><i class="bi bi-check-circle"></i> Data Analyst.</li>
                       <li><i class="bi bi-check-circle"></i>  Software developer.</li>
                     </ul>
                     <div class="text-center">
                      <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                  </div>
                </div>-->
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            
            <div class="icon-boxes d-flex flex-column justify-content-center">
              
              
                 <h1  style="font-size:30px; color:#5fcf80"> <b> Training options:</b></h1> 
                
              <!--    <section id="features" class="features">
              <div class="row" style="color:darkblue;">
                <div class="col-xl-12 d-flex align-items-stretch" >
                  <div class="icon-box mt-4 mt-xl-0" >
                    <i   class="bx bx-receipt"></i>
                    <h4>SELF-PACED LEARNING</h4>
                    <p>Lifetime access to high-quality self-paced e-learning content curated by industry experts</p>
                  </div>
                </div>
              </section>-->

              <section id="features" class="features">
                
                <div class="container" data-aos="fade-up">
          
                  <div class="row" style="color:darkblue;">
                    <div class="col-xl-12 d-flex align-items-stretch" >
                      <div class="icon-box mt-4 mt-xl-0">
                        <i   class="bx bx-receipt"></i><br>
                        <h4>SELF-PACED LEARNING</h4><br>
                        <p style="color:black;text-align:left;">
                          <ul>
                           <li style="color: #5fcf80;text-align:left;"><b> Lifetime access to high-quality self-paced e-learning content curated
                            by industry experts.</b></li>
                           <li style="color: #5fcf80;text-align:left;"><b>24x7 learner assistance and support.</b></li></p>
                          </ul>
                        
                      </div>
                    </div>
                    </div>
                    </div>
                    </section>

                    <section id="features" class="features">
                      <div class="container" data-aos="fade-up">
                
                        <div class="row" style="color:darkblue;">
                          <div class="col-xl-12 d-flex align-items-stretch" >
                            <div class="icon-box mt-4 mt-xl-0">
                              <i   class="bx bx-cube-alt"></i><br>
                              <h4>ONLINE BOOTCAMP</h4><br>
                              <p style="color:black;text-align:justify;">
                                <ul>

                                <li style="color: #5fcf80;text-align:left;"><b>Lifetime access to high-quality self-paced e-learning content
                                 and live class recordings.</b></li>
                                <li style="color:#5fcf80;text-align:left;"><b> 90 days of flexible access to online classes</b></li>
                               <li style="color: #5fcf80;text-align:left;"><b>24x7 learner assistance and support</b></li> </p>
                                </ul>
                            </div>
                          </div>
                         </div>
                        </div>
                      </div>
                            
                    </section>

              <!--   <div class="col-xl-12 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>ONLINE BOOTCAMP</h4>
                    <p>Lifetime access to high-quality self-paced e-learning content and live class recordings</p>
                  </div>
                </div>-->

              <!--  <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Labore consequatur</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>-->
                </div>
              </div>
            </div>
             <!-- End .content-->
          </div> <!--   End .content-->
          </div>
        </div>

      </div>
  
    </section><!-- End Why Us Section -->

<!-- start carriculam Section -->

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2  style=color:darkblue><b>Web Application Course Curriculum</b></h2>
        <br>
          <div class="main-timeline">
            
              <div class="timeline">
                  <a  class="timeline-content">
                      <div class="timeline-icon"><img src="{% static 'img/curriculam/test.png' %}" class="img-fluid" alt=""class="fa fa-globe"></div>
                      <h3 class="title">Eligibility</h3>
                      <p class="description">
                        <p class="fst-italic" style=color:black>
                        Anyone interested in learning Web application for software development job roles will benefit from this Web application developer certification. 
                        This web application course also is well-suited for:
                        Software developer,
                        Software engineers,
                        Technical leads,
                        Architects,
                        Programming enthusiasts.
                       </p>
                      </p>
                  </a>
              </div>
              <div class="timeline">
                  <a  class="timeline-content">
                      <div class="timeline-icon"><img src="{% static 'img/curriculam/asterisk.png' %}" class="img-fluid" alt=""></i></div>
                      <h3 class="title">Pre-requisites</h3>
                      <p class="description">
                        <p class="fst-italic" style=color:black>
                         prior programming knowledge
                         or experience is necessary to take this  web application course.
                      </p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>

<!-- start course content Section -->
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2  style=color:darkblue><b> Course Content</b></h2><br> 
        <p class="fst-italic"><b>About the Lessons</b> </p>
<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Lesson 1: Foundations</h3>
		<p>
       Mark-up languages XML, HTML. Document Object Model (DOM). CSS Object Model (CSSOM). 
		</p>
	</li>
	<li>
		<h2>02</h2>
		<h3>Lesson 2:<br>	Development methods</h3>
		<p>
		
      Requirements analysis.
      Project management. Project stages: initiation, planning, execution, monitoring, closure.
		</p>
		
	</li>
	<li>
		<h2>03</h2>
		<h3>Lesson 3:<br> Front end technologies</h3>
		<p>
       Javascript/ECMAScript: statements, expressions, identifiers, primitive values, objects, properties, 
       operators, conditionals, loops.

		</p>
	
	</li>
	<li>
		<h2>04</h2>
		<h3>Lesson 4:<br>   Back end technologies</h3>
		<p>
			
     Database access: SQL vs NOSQL Key-value stores, Document stores, Graph databases. and 
     eventually consistent transactions.
   
		</p>
	
	</li>

  <li>
		<h2>05</h2>
		<h3>Lesson 5:<br> Testing and evaluation</h3>
		<p>
			 
      Testing methods: Property-based testing. Unit testing, Integration testing, End-to-end testing. 
      Manual testing. Visual testing. Cross-functional testing.
      
		</p>
		
  </li>

  
		
  
  
 
  
 
</ul>

<!--download_start-->
<a href="{% static 'pdf/Internship_web.pdf' %}"><button class="btn" style="text-align: center;"><i class="fa fa-download"></i> Download full syallbus</button></a>

<!--download_end-->
</div>
</div>
</div>
<!-- end course content Section -->


<!-- end carriculam Section -->








{% endblock %}